extends layout

block content
    .jumbotron
        .container
            h1 gym reservation
            p 
            a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
    .container
        .row
            .col-md-3
                h3 Doh schedule
                p 
                a.btn.btn-default(href="/artist") View Detail &raquo; 